@model IEnumerable<PaxCounterWeb.Models.Device>

<h2>PaxCounter devices</h2>

<form asp-controller="Devices"
      asp-action="GenerateSample"
      asp-route-deviceId="1"
      method="post">
    <button type="submit">Generate sample</button>
</form>

<br />
<br />

<a href="http://localhost:5283/Devices/Details/1">Odpri napravo #1 (Details)</a>

<br />

<ul>
    @foreach (var d in Model)
    {
        <li>
            <strong>@d.Name</strong> (@d.Id)
            <br />
            Samples: @(d.PaxSamples?.Count ?? 0)
        </li>
    }
</ul>

<a href="http://localhost:5283/Devices/Details/1">Odpri napravo #1 (Details)</a>



<a hhref="http://localhost:5283/Devices/Details/1">Details</a>
<a hhref="http://localhost:5283/Devices/HeatmapData/1">/Devices/HeatmapData/1</a>
