@{
    ViewData["Title"] = "Home Page";
}

@model IEnumerable<Device>

<form asp-controller="Devices"
      asp-action="GenerateSample"
      asp-route-deviceId="1"
      method="post"
      class="d-inline">
    <button type="submit" class="btn btn-primary btn-sm">
        ➕ Generate sample
    </button>
</form>

<br />
<br />

<a href="http://localhost:5283/Devices/Details/1">Odpri napravo #1 (Details)</a>
<br />
<br />

<h2>Devices</h2>

<table class="table">
    <thead>
        <tr>
            <th>Device</th>
            <th>Last Seen</th>
            <th>Samples</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var d in Model)
        {
            <tr>
                <td>@d.DeviceId</td>
                <td>@d.PaxSamples.OrderByDescending(x => x.Timestamp).FirstOrDefault()?.Timestamp</td>
                <td>@d.PaxSamples.Count</td>
            </tr>
        }
    </tbody>
</table>


@* <div class="text-center">
    <h1 class="display-1">Welcome</h1>
    <p>Test test test</p>
</div> *@
